@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shizuru&display=swap');
h1 {
  font-family: 'Shizuru', cursive;
  font-size: 50px;
  text-align: center;
}
body {
  margin-right: 0px;
  margin-left: 0px;
  background-color: rgb(219, 218, 218);
  font-family: 'Architects Daughter', cursive;
}
/* HEADER */
.Header{
  background-color: rgb(151, 150, 150);
  width: 100%;
  height: 50px;
}
nav {
  font-weight: bold;
  right: 20px;
}

.Header ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  
  padding-top: 14px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: orangered;
  font-size: 20px;
  font-weight: bold;
}
.Header li {
  margin-right: 20px;
}
li {
  margin-right: 10px;
}

#me {
  margin: 20px 0 0 20px;
  height: 200px;
  width: 200px;
  border-radius: 40%;
}

/* MAIN  */

section {
  margin: 15px 0 0 20px;
  width: 50%;
}


/* PROJECTS */
.Projects ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
}
.Projects li {
  margin-bottom: 20px;
  font-size: 20px;
}